
## <summary>policy for nanocoin</summary>


########################################
## <summary>
##	Transition to nanocoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nanocoin_domtrans',`
	gen_require(`
		type nanocoin_t, nanocoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nanocoin_exec_t, nanocoin_t)
')


########################################
## <summary>
##	Execute nanocoin server in the nanocoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nanocoin_initrc_domtrans',`
	gen_require(`
		type nanocoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nanocoin_initrc_exec_t)
')


########################################
## <summary>
##	Search nanocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nanocoin_search_lib',`
	gen_require(`
		type nanocoin_var_lib_t;
	')

	allow $1 nanocoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nanocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nanocoin_read_lib_files',`
	gen_require(`
		type nanocoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nanocoin_var_lib_t, nanocoin_var_lib_t)
')

########################################
## <summary>
##	Manage nanocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nanocoin_manage_lib_files',`
	gen_require(`
		type nanocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nanocoin_var_lib_t, nanocoin_var_lib_t)
')

########################################
## <summary>
##	Manage nanocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nanocoin_manage_lib_dirs',`
	gen_require(`
		type nanocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nanocoin_var_lib_t, nanocoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an nanocoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nanocoin_admin',`
	gen_require(`
		type nanocoin_t;
		type nanocoin_initrc_exec_t;
		type nanocoin_var_lib_t;
	')

	allow $1 nanocoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, nanocoin_t)

	nanocoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nanocoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nanocoin_var_lib_t)

')

